---
import CallToAction from '../components/CallToAction.astro';
import Control from '../components/Control.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Models from '../components/Models.astro';
import Privacy from '../components/Privacy.astro';
import Workflow from '../components/Workflow.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />
  <main id="main">
    <Hero />
    <Features />
    <Models />
    <Workflow />
    <Control />
    <Privacy />
    <CallToAction />
  </main>
  <Footer />
</BaseLayout>
